<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<%- partial('casper/head') %>
<% if (typeof page.title == 'undefined') { %>
<body class="home-template nav-closed">
<% } else { %>
<body class="post-template nav-closed">
<% } %>
  <%- partial('casper/nav') %>
  <div class="site-wrapper">
    <%- partial('casper/header') %>
    <%- body %>
    <%- partial('casper/footer') %>
  </div>
  <%- partial('casper/after_all') %>
</body>
</html>
